<nav class="menu">
    <ul>
        <li><a href="#">Accueil </a></li>
        <li><a href="#">Produits </a></li>
        <li><a href="#">Producteurs </a></li>
        <li><a href="#">Consommateurs </a></li>
    </ul>
</nav>
